body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav_btn{
  float: right !important;
}
.jumbotron{
  background-color: grey !important;
  width: 100%;
  height: 20vh;
}
.jumbotron1{
  background-color: grey !important;
  width: 100%;
  height: auto;
}
.jumbotron2{
  background-color: grey !important;
  width: 100%;
  height: 15vh !important;
}
.slider img{
  height: 700px;;
  object-fit: cover;
}
.text-color{
  color: white !important;
}
.text_color_1{
  color: black !important;
}
  
#root > ul > span > form > span > svg {
  position: relative;
  top: -45px;
  left: 175px;
  margin: 0em;
} 
.search_form{
  padding: 1em;
}
.login_to_checkout{
  color: white !important;
}
.pointer{
  cursor: pointer;
}
.main_title{
  font-family: 'Joan', serif;
  font-size: 3em;
}
.footer_class{
  width: 100%;
  position:relative;
  bottom: 0;

}
.cart_body{
  height: 77vh !important;
}

.checkout_body{
  height:78vh !important;
  overflow-y: hidden !important;
}
.payment_footer{
  height:78vh !important;
  overflow-y: hidden !important;
}